.sky { 
    max-width: 100%;
    margin: 0;
}

#panel {
    position: absolute;
    width: 100%;
    min-width: 100%;
    top: 30%;
}

#location_rectangle {
    position: absolute;
    width: 25vh;
    height: 6vh;
    right: 0;
    top: 38%;
}

#dayTime {
    position: absolute;
    width: 20vh;
    height: 30vh;
    left: 41px;
    top: 39%;

    color: #999999;
}

#city {
    position: absolute;
    width: 20vh;
    height: 30vh;
    right: 5%;
    top: 40%;

    color: #0DA0EA;
}

#location_icon {
    position: absolute;
    width: 3vh;
    height: 3vh;
    right: 4%;
    top: 40%;    
}

#weatherIcon  {
    position: absolute;
    left: 10%;
}

#temperatura {
    position: absolute;
    left: 45%;
    top: 50%;

    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-size: 10vh;
    line-height: 77px;
    letter-spacing: -0.05em;
 

    color: #000000;
}
#celsius {
    position: absolute;
    left: 65%;
    top: 48%;

    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-size: 5vh;
    line-height: 77px;
    letter-spacing: -0.05em;
 

    color: grey;
}



/*Fuentes*/
.font {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 230%;
    line-height: 50px;
    text-align: center;
}